.moveCardBlock {
	width: 800px;
	height: 800px;
	background-color: rgb(241, 241, 241);
	padding: 20px 20px;
	margin: 30px auto 0 auto;
	border: 1px solid rgb(0, 0, 0);
	position: relative;
}

.moveCardBlock_btn_back {
	width: 150px;
	height: 35px;
	background-color: rgb(193, 225, 253);
	font-size: 15px;
	margin-bottom: 30px;
	border: 2px solid rgb(95, 180, 255);
}

.moveCardBlock_labelBlock {
	width: 100%;
	height: 100%;
	margin-top: 405px;
	font-size: 20px;
}

.moveCardBlock_input{
	width: 100%;
	height: 30px;
	margin-top: 15px;
	border: 2px solid rgb(0, 0, 0);
	color: black;
	caret-color: black;
}

.moveCardBlock_textarea {
	width: 760px;
	height: 450px;
	margin-top: 30px;
	resize: none;
	border: 2px solid rgb(0, 0, 0);
	caret-color: black;
}

.moveCardBlock_btn_flex {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

.moveCardBlock_btn_delete,.moveCardBlock_btn_save {
	width: 150px;
	height: 50px;
	font-size: 15px;
}

.moveCardBlock_btn_delete {
	background-color: rgb(250, 183, 183);
	border: 2px solid rgb(255, 125, 125);
}

.moveCardBlock_btn_save {
	background-color: rgb(193, 225, 253);
	border: 2px solid rgb(95, 180, 255);
}

.windowDelete {
	width: 300px;
	height: 100px;
 	position: absolute;
	left: 300px;
	bottom: 450px;
	background-color: rgb(241, 241, 241);
	padding: 20px 10px;
	box-shadow: 0px 0px 10px 1px rgb(182, 183, 184);
}

.windowDelete_text {
	text-align: center;
}

.windowDelete_btn_flex {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.windowDelete_btn_no, .windowDelete_btn_yes {
	width: 80px;
	height: 100%;
}

.windowDelete_btn_no {
	background-color: rgb(250, 183, 183);
	border: 2px solid rgb(255, 125, 125);
}

.windowDelete_btn_yes {
	background-color: rgb(193, 225, 253);
	border: 2px solid rgb(95, 180, 255);
}

